.news-view
    spinner(:show='loading')
    .news-list-nav
        router-link(v-if='page> 1', :to="'/' + type + '/' + (page - 1)") &lt; prev
        a.disabled(v-else) &lt; prev

        span {{ page }}/{{ maxPage }}

        router-link(v-if='hasMore', :to="'/' + type + '/' + (page + 1)") more &gt;
        a.disabled(v-else) more &gt;
    transition(:name='transition')
        .news-list(:key='displayedPage', v-if='displayedPage > 0')
            transition-group(tag='ul', name='item')
                item(v-for='item in displayedItems', :key='item.id', :item='item')
